{% load staticfiles %}
{% load i18n %}

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>PICK-A-JOY&reg;</title>
	<link rel="icon" type="image/png" href="{% static "homepage/bulleverte.ico" %}" />
	<link rel="shortcut icon" type="image/x-icon" href="{% static "homepage/bulleverte.ico" %}" />
	<link rel="stylesheet" media="screen" href="{% static "homepage/stylepaj.css" %}" />
    <link href='http://fonts.googleapis.com/css?family=Noto+Serif' rel='stylesheet' type='text/css'>
  </head>
  
  <body id="body">
    {% block header%}
    <div id="header">
      <p> Ici on mettra un joli en-tête</p>
    </div>
    {% endblock %}
    
    {% block body%}
    <div id="main">
      <p> la le corps de la page. A priori il sera redéfini par chaque page</p>
    </div>
    {% endblock %}
    
    {% block footer%}
    <div id="footer">
      <p> et Ici le pied de page</p>
    </div>
    {% endblock %}
  </body>
</html>
