{% extends "base.html" %}
{% load i18n %}
{% load staticfiles %}

{% block header %}
<!--bandeau rouge-->
<div class="bandeaurouge">
  <!--[if gte IE 9]-->
  <style type="text/css">
    .gradient {
    filter: none;
    }
  </style>
  <!--[endif]-->
</div>

<!--ombre portée-->
<div class="ombreportee"></div>



    

<div class="showhim">
  <div id="header">
    <a href="#body" class="logo">
      <div class="logopng"></div>
    </a>

    <div id="slogan" id="header">
      <span style="font-family: Trajan; font-size: 15px">Choisissez une joie,<br/></span>
      <span style="font-family: Trajan; font-size: 13px;">puis une autre,<br/></span>
      <span style="font-family: Trajan; font-size: 11px;">puis une autre...<br/></span>
      <span style="font-family: Trebuchet; color: #C5C3C1; font-size: 13px;">Village gaulois décentralisé,<br/>
	chiffré, neutre et libre</span>
    </div>

    <div class="showme"><a href="#body"><img src={% static "homepage/maison-png-07.png" %} /></a></div>

    <div id="menu">
      <a href="#possibles" id="ouvrir1" class="lien_volet"s>Les possibles avec PICK-A-JOY ?</a>
      <a href="#origines" id="ouvrir2" class="lien_volet">Origine du projet</a>
      <a href="#techniquement" id="ouvrir3" class="lien_volet">Et techniquement?</a>
      <a href="#developpeurs" id="ouvrir4">DÉVELOPPEURS</a>
    </div>
  </div>
</div>
<!--///////////////////////////////////////-->
{% endblock %}


{% block body %}
<div id="ombremenu"></div>

<div id="main">
  <div id="possibles" class="volet">
    <div class="ombrepanneau"></div>
    <div class="titre_volet">
      <div id="titre_possibles">
	Les possibles avec Pick-a-joy?
      </div>
    </div>
    <div class="contenu_volet" id="contenu_possibles">
      <div class="paragraphe_possibles">
	<img src={% static "homepage/R-08.png" %} class="logo_possibles"/>
	<span class="texte_possibles">Faire des rencontres, pas forcément amoureuses mais aussi citoyennes,
	  <br/> sportives, amicales, innovantes, professionelles, sociales...</span>
      </div>
      <div class="paragraphe_possibles">
	<img src={% static "homepage/@-09.png" %} class="logo_possibles"/>
	<span class="texte_possibles">Échanger de manière sécurisée et décentralisée, à l'abri des regards
	  indiscrets</span>
      </div>
      <div class="paragraphe_possibles">
	<img src={% static "homepage/A-10.png" %} class="logo_possibles"/>
	<span class="texte_possibles">Écrire des articles, lire, apprendre, partager, profiter d'un
	  outil performant<br/>pour lanceurs d'alertes anonymes, se constituer
	  une bibliothèque numérique collective...</span>
      </div>
      <div class="paragraphe_possibles">
	<img src={% static "homepage/M-11.png" %} class="logo_possibles"/>
	<span class="texte_possibles">Discuter en privé à deux ou plus, par texte, émoticones,
	  son et video
	</span>
      </div>
      <div class="paragraphe_possibles">
	<img src={% static "homepage/P-R-12.png" %} class="logo_possibles"/>
	<span class="texte_possibles">Poisson-rouge nous garantit le droit à l'oubli. Vous décidez
	  vous même des délais<br/> selon les informations. </span>
      </div>
      <div class="paragraphe_possibles">
	<img src={% static "homepage/Simone-13.png" %} class="logo_possibles"/>
	<span class="texte_possibles">Simone nous met en contact, gère les sauvegardes, les abonnements
	  et nous accompagne<br/>au sein du réseau. C'est un peu la maman ici.
	</span>
      </div>
      <div class="paragraphe_possibles">
	<img src={% static "homepage/TH-14.png" %} class="logo_possibles"/>
	<span class="texte_possibles">Théo Hasard recrée pour vous la rencontre inopinée, à nous d'en faire
	  une amitié,<br/> une collaboration, un amour, un travail...</span>
      </div>
      <div class="paragraphe_possibles">
	<img src={% static "homepage/PAJ-15.png" %} class="logo_possibles"/>
	<span class="texte_possibles">Un recueil de crédit nous permet d'échanger entre nous des biens
	  et des services<br/>sans passer par la monnaie. Vivent les economies
	  locales et solidaires.</span>
      </div>
    </div>
    <div class="lumierepanneau"></div>
  </div>

  <div id="origines" class="volet">
    <div class="ombrepanneau"></div>
    <div class="titre_volet">
      <div id="titre_origines">
	Origine du projet
      </div>
    </div>
    <div class="contenu_volet">
      <div id="origines_gauche">
	<p>Adrien<span style="color:#7F7F7F"><span style="color:#2169D6;";> l</span>es<span style="color:#009ee0;">a</span>iles<span style="color:orange;">b</span>leues </span>
	  FÉRAUD et Vincent PERRIN se sont rencontrés en Décembre 2014</p>
	<p>Sur la base du texte écrit par ce premier et intitulé
	  <span style="font-style: italic;">~Manifeste d'une liberté~</span>,
	  ils se sont demandés à quoi ressemblerait les Internets si nous ôtions de la sphère
	  les multinationales de type GAFAM
	  <span style="font-size: 12pt; color: #393735">(Google, Apple, Facebook, Amazon, Microsoft)</span>,
	  les gouvernements et les banques</p>
	<p style="font-family: Trajan; font-size: 22px; text-align:center;">PICK-A-JOY ÉTAIT NÉ</p>
	<p>Comme personne ne leur a dit que c'était impossible, le projet a grandi, quelques-uns
	  ont rejoint l'aventure, aidant à coder et à agencer cet énorme bloc de <span style="font-weight:bold;">LEGO</span><SUP><span style="color:#7F7F7F;">&reg;</span></SUP> de
	  technologies libres et ouvertes mais jamais conçues pour fonctionner ensemble. Et
	  chacun de vous est toujours le(a) bienvenue dans l'aventure.</p>
      </div>
      <div id="origines_droite">
	<p>Vincent, ingénieur informatique, est le directeur technique et Adrien,
	  concepteur-designer, le directeur artistique</p>
	<p>L'envie est simple: un réseau libre, décentralisé, chiffré, respectant la vie privée,
	  le droit à l'oubli, la neutralité du net et plus que tout: notre droit de construire
	  collectivement le vivre-ensemble et la considération que toutes les différences sont
	  une richesse.</p>
	<p>Ce n'est pas parce que nous n'avons rien à cacher que nous devons être transparents.
	  Au contraire, c'est parce que nous sommes innocents que personne n'a le droit de nous
	  surveiller!</p>
      </div>
      <div id="origines_photos">
	<img src={% static "homepage/Vincent-16.png" %} id="photo_vincent"/>
	<span class="legende">Vincent PERRIN</span>
	<br/><br/><br/><br/><br/>
	<img src={% static "homepage/Adrien-17.png" %} id="photo_adrien"/>
	<span class="legende">Adrien FÉRAUD</span>
      </div>
    </div>
    <div class="lumierepanneau"></div>
  </div>

  <div id="techniquement" class="volet">
    <div class="ombrepanneau"></div>
    <div class="titre_volet" >
      <div id="titre_techniquement" >
	Et techniquement ?
      </div>
    </div>
    <br/><br/>
    <div id="texte_techniquement">
      <p>PICK-A-JOY est un réseau de logiciels interconnectés en pair à pair.</p>
      
      <p>Le logiciel chiffre directement sur votre ordinateur, en local, avec des clefs asymetriques.</p>
      
      <p>L'architecture est un mélange de toile d'araignées pour les fonctions de maintien
	du réseau (MàJ), de gestion des abonnements, de mise en relation et de P2P évolutifs pour
	toutes les activités des membres.</p>
      
      <p>Tous les échanges, surtout ceux liés à une contrepartie en PAJ, l'unité de mesure du recueil
	de crédit, sont garantis et vérifiables grâce à la technologie des blockchains.</p>
      
      <p>La messagerie instantanée est assurée par un fork de Tox</p>
      
      <p>Une sauvegarde de ce que contient votre compte est faite, en plusieurs morceaux,
	chiffrés avec votre clef personnelle et souvent déplacés parmi les autres membres du
	réseau. Ceci permet le multiposte (jusqu'à 3) avec un seul compte, d'avoir les avantages
	du cloud et de ne rien perdre lorsque votre ordinateur-tablette-smartphone tombe en panne.</p>
      
      <p>L'ensemble s'appuie sur Retroshare 6, remanié par nos soins</p>
    </div>
    <div id="liens_techniquement">
      <a id="clef_asym" target="_blank" href="https://fr.wikipedia.org/wiki/Cryptographie_asym%C3%A9trique"><div class="lien">Clefs asymetriques?</div></a>
      <a id="blockchains" target="_blank" href="https://fr.wikipedia.org/wiki/Cha%C3%AEne_de_blocs"><div class="lien">Blockchains?</div></a>
      <a id="tox" target="_blank" href="https://tlhp.cf/tox-messenger/"><div class="lien">Forge de Tox</div></a>
      <a id="retroshare" target="_blank" href="http://retroshare.sourceforge.net/"><div class="lien">Retroshare</div></a>
    </div>
    
    <div class="lumierepanneau"></div>
  </div>

  <div id="developpeurs" class="volet">
    <div class="ombrepanneau"></div>
    <div class="titre_volet">
      <div id="titre_developpeurs" >
	DÉVELOPPEURS
      </div>
    </div>
    <br/><br/>
    <div id="texte_developpeur">
      <p>Les fonctions à implémenter sont une plateforme de rencontres, un courriel chiffré (API Protonmail), un calendrier, une messagerie instantanée, une plateforme d'échange avec un recueil de crédit permettant à la communauté <span class="trajan">PICK-A-JOY</span> de vivre sans passer par la monnaie dette bancaire. <span style="color: #93918f; font-size: 12px">(Vous avez bien lu !)</span> et un outil d'organisation pour une vraie démocracie ! (Democracy OS) <span style="color: #93918f; font-size: 12px">(Vous lisez toujours correctement :D)</span></p>
      <p>La grande idée de <span class="trajan">PICK-A-JOY</span> est celle là : Créer un outil puissant, complet et techniquement très abouti, abordable à ceux qui ne connaissent que Google, Apple, Facebook, Amazon et Microsoft.</p>
      <p style="color:#009EE0; font-family: Trajan; font-size: 26.5px; text-align:center;">Rejoignez l'Aventure</p>
      <p><a target="_blank" href="http://bit.ly/1PenOvz" style="color:#00A9EF;">Bitbucket</a> &gt <span><a target="_blank" href="http://bit.ly/1PenOvz" style="color:#7F7F7F; font-style: italic">http://bit.ly/1PenOvz</a>
	  (sur inscription auprès d'Adrien ou de Vincent)<br/></span>
	Et le <a target="_blank" href="http://www.forum.pick-a-joy.com" style="color:#00A9EF;">Forum</a> <span style="color:#7F7F7F;">(public)</span> pour voir à quoi le logiciel ressemble
	et comment les fonctions s'articulent : <br/>
	<a target="_blank" href="http://www.forum.pick-a-joy.com" style="color:#7F7F7F; font-style: italic">http://www.forum.pick-a-joy.com</a></p>
    </div>
    <div id="console_developpeur">
      <div class="ombre_code"></div>
      <div id="code_developpeur">
	<!-- HTML generated using hilite.me -->
	<pre style="margin-left: -25px; line-height: 125%">
      <span style="color: #009600">#include &lt;freedom.h&gt;</span>
      <span style="color: #009600">#include &lt;love.h&gt;</span>
      <span style="color: #009600">#include &lt;justice.h&gt;</span> 
      <span style="color: #009600">#include &lt;internet.h&gt;</span>
      <span style="color: #009600">#include &lt;design.h&gt;</span>
      <span style="color: #009600">#include &lt;programming.h&gt;</span>

      <span style="color: #009600">#include &quot;pick-a-joy.h&quot;</span>

      <span style="color: #009600">Pick-a-joy::Pick-a-joy():</span>
      <span style="color: #009600">     m_Language(&quot;C++&quot;),</span>
      <span style="color: #009600">     m_GUI(&quot;gtkmm&quot;),</span>
      <span style="color: #009600">     m_Technologies(&quot;Peer to peer&quot;, &quot;Encryption&quot;,</span>
      <span style="color: #009600">                    &quot;Decentralized storage&quot;),</span>
      <span style="color: #009600">     m_Design(&quot;User friendly&quot;, &quot;Sleek&quot;, &quot;Humour&quot;)</span>
      <span style="color: #009600">{</span>
      <span style="color: #009600">    m_Designers.add(&quot;Adrien&quot;);</span>
      <span style="color: #009600">    m_Designers.create_and_adapt_design();</span>
	  
      <span style="color: #009600">    m_Developpers.add(&quot;Vincent&quot;);</span>
      <span style="color: #009600">    m_Developpers.implement_designs();</span>
      <span style="color: #009600">    m_Developpers.integrate_technologies();</span>
      <span style="color: #009600">    m_Developpers.package_project();</span>
      <span style="color: #009600">    m_Developpers.make_it_all_work();</span>

      <span style="color: #FF0000">    /*</span>
      <span style="color: #FF0000">     * NOTE: La charge de travail de m_Developpers est</span>
      <span style="color: #FF0000">     * très grande. Avec seulement Vincent on risque le</span>
      <span style="color: #FF0000">     * timeout</span>
      <span style="color: #FF0000">     * SUGGESTION: lancer une boucle</span>
      <span style="color: #FF0000">     * while (Pick-a-joy.not_finished)</span>
      <span style="color: #FF0000">     * { get_more_developpers() }</span>
      <span style="color: #FF0000">     */</span>
      <span style="color: #009600">}</span>
	</pre>
	<div class="lumiere_code"></div>
      </div>
    </div>
    
    <div class="lumierepanneau"></div>
  </div>

  <div id="video">
    <div class="bande_noire"></div>
    <iframe title="Youtube video player" width="650" height="365" src="https://www.youtube.com/embed/FGNF3eH72qg" frameborder="100" allowfullscreen></iframe>
    <div class="bande_noire"></div>
  </div>
  
  <div id="contact_form">
    <p class="texteD">
      {% trans "Être le premier inform&eacute; :" %}
      <form action="{% url 'homepage.views.home' %}" method="post" name="mailForm">
	<img src={% static "homepage/past_blanche.png" %} id="pastille" class="pastille" alt="Vérification du format de courriel" title="Vérification du format de courriel"/>
	{% csrf_token %}
	{{ form.mail }}
	<input src={% static "homepage/fleche_outline.png" %} id="fleche" class="fleche" type=image Value=submit disabled='disabled'/>
      </form>
      {% if valide %}
    <p>{% trans "Merci beaucoup" %}</p>
    {% endif %}
    </p>
  </div>


  <div id="reseaux_sociaux">
    <a target="_blank" href="https://twitter.com/PICK_A_JOY" id="twitter">tw</a>
    <a target="_blank" href="https://plus.google.com/u/0/117267997084498004756/posts" id="gplus">g+</a>
    <a target="_blank" href="https://www.facebook.com/profile.php?id=100009160285431" id="facebook">fb</a>
    <a target="_blank" href="http://www.forum.pick-a-joy.com">
      <img src= {% static "homepage/BtForum.png" %} alt="forum officiel de pick-a-joy" title="forum officiel de pick-a-joy" id="forum" class="forum" />
    </a>
  </div>
    
</div>

<script>
    var input = document.getElementById('mailInput');
    
    function validateEmail(email) {
    var re = new RegExp("[a-z0-9!#$%&'*+/=?^_`{|}~-]+(?:\.[a-z0-9!#$%&'*+/=?^_`{|}~-]+)*@(?:[a-z0-9](?:[a-z0-9-]*[a-z0-9])?\.)+[a-z0-9](?:[a-z0-9-]*[a-z0-9])?");
    return re.test(email);
    }
	
    input.oninput = function (evt) {
        var pastille = document.getElementById('pastille');
	var fleche = document.getElementById('fleche');
	if (validateEmail(input.value)){
	    pastille.src = '{% static "homepage/past_verte.png" %}';
	    pastille.title = "Format courriel valide"
	    pastille.alt = "Format courriel valide"
	    fleche.src='{% static "homepage/fleche_rouge.png" %}';
	    fleche.disabled = false;
	} else {
	    pastille.src = '{% static "homepage/past_orange.png" %}';
	    pastille.title = "Format de courriel non reconnu"
	    pastille.alt = "Format de courriel non reconnu"
	    fleche.src='{% static "homepage/fleche_grise.png" %}';
	    fleche.disabled = true;
	}
    }
			
    input.onblur = function (evt) {
        var pastille = document.getElementById('pastille');
	var fleche = document.getElementById('fleche');
	if (!input.value){
	    pastille.src = '{% static "homepage/past_blanche.png" %}';
	    pastille.title = "Vérification du format de courriel"
	    pastille.alt = "Vérification du format de courriel"
	    fleche.src = '{% static "homepage/fleche_outline.png" %}';
	}
    }
</script>
<!--colonne seconde-->
<!--       ***************************************** retire du nouveau site
<span class="colonne2">
  <legend class="titre"> {% trans "BIENVENUE" %} </legend>
  <br /><br /><br /><br />
  </p>
  <br />
  <p class="texteD">
    {% trans "Vous êtes d&eacute;veloppeur ? Rejoignez l'aventure : " %}<br />
    <a class="next" href="http://www.bitbucket.org/perrin_v/pick-a-joy" target="_blank">{% trans "Retrouvez le projet Pick-a-Joy sur Bitbucket" %}</a>
  </p>
  <br />

</span>
-->
{% endblock %}

{% block footer %}
<div id="ombre_footer"></div>
<div id="footer">
  <p style="font-family: Trajan; font-size: large; color: black; margin-top: 10px; margin-bottom: 0px;">Amours, justice et libertés</p>
  <p style="color: grey; margin: 0px;">Accueil Pick-a-joy <SUP>&reg</SUP> 2016</p>
  <p style="line-height: 18px; margin-top: 10px;"><span style="color: black;">plus d'informations, contact : <br/><span>
	Adrien
	<span style="color:#7F7F7F"><span style="color:#2169D6;";>l</span>es<span style="color:#009ee0;">a</span>iles<span style="color:orange;">b</span>leues</span><SUP><span style="color:#7F7F7F;">&reg;</span></SUP>
	FÉRAUD, directeur artistique : <br/>
	<span style="color: grey;">lesailesbleues arobase protonmail point com<br/></span>
	& <br/>
	Vincent PERRIN, directeur technique:<br/>
	<span style="color: grey;">mladup point esevdla arobase gmail point com</span>
  </p>
</div>
{% endblock%}
