{% load staticfiles %}
{% load i18n %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<!-- Bonjour, si vous êtes arrivé jusque là, 
c'est que le code vous intéresse : n'hésitez pas
à participer à cette grande aventure qu'est PICK-A-JOY
sur Bitbucket à l'adresse suivante :
http://www.bitbucket.org/perrin_v/pick-a-joy, 
au plaisir de contempler vos talents !
Adrien. -->
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<title>PICK-A-JOY&reg;</title>
	<link rel="icon" type="image/png" href="{% static "homepage/bulleverte.ico" %}" />
	<link rel="shortcut icon" type="image/x-icon" href="{% static "homepage/bulleverte.ico" %}" />
	<link rel="stylesheet" media="screen" href="{% static "homepage/stylepaj.css" %}" />
    <link href='http://fonts.googleapis.com/css?family=Noto+Serif' rel='stylesheet' type='text/css'>
</head>

<!--///////////////////////////////////////-->

<body bgcolor="#ffffff" height:100%;>

<!--bandeau rouge-->
	<div class="bandeaurouge">
		<!--[if gte IE 9]-->
		  <style type="text/css">
    		.gradient {
       			filter: none;
    		}
  			</style>
		<!--[endif]-->
    </div>
<!--ombre portée-->
	<div class="ombreportee">

	</div>
<!--///////////////////////////////////////-->



<!--colonne première-->
<div class="colonne1">
		<div class="logo">
       		<div class="logopng"></div>
        </div>
        <div class="texte">
        	<p>{% trans "Adrien F&Eacute;RAUD (designer) et Vincent PERRIN (développeur) travaillent actuellement sur une plateforme locale num&eacute;rique." %}
{% trans "Un logiciel dont la fonction est : CATALYSEUR DE VIE R&Eacute;ELLE" %} <br />
<br /><br />
 {% trans "Un site de rencontre de pair &agrave; pair (P2P) g&eacute;n&eacute;raliste et non-sexiste, d’organisation du vivre ensemble." %}<br /><br />
{% trans "— Vous choisissez pr&eacute;cis&eacute;ment ce que vous pr&eacute;sentez de vous-m&ecirc;me, notre diversit&eacute; fait notre richesse." %}<br />
{% trans "— Aucune publicit&eacute;. Jamais." %}<br />
{% trans "— Protection maximum des donn&eacute;es personnelles avec un chiffrage en local" %}<br />
{% trans "— Un système d’&eacute;changes sans monnaie." %}<br />
{% trans "— Un système d’&eacute;criture et de partage d’information, constitution d’une bibliothèque multim&eacute;dia collective de savoir." %}<br />
<br />
{% trans "Nous avons l’ambition de cr&eacute;er ce que les Internets auraient d&ucirc; &ecirc;tre : d&eacute;centralis&eacute;s, s&eacute;curis&eacute;s, producteur de r&eacute;el et promoteur de ce que nous avons de meilleur ! " %}</p>
        </div>
</div>



<!--///////////////////////////////////////-->
<!--colonne seconde-->
	<span class="colonne2">
		<legend class="titre"> {% trans "BIENVENUE" %} </legend>
		<br /><br /><br /><br />
		<p class="texteD">
			{% trans "Être le premier inform&eacute; :" %}
			<form action="{% url "homepage.views.home" %}" method="post" name="mailForm">
				<img src={% static "homepage/past_blanche.png" %} id="pastille" class="pastille" alt="Vérification du format de courriel" title="Vérification du format de courriel"/>
				{% csrf_token %}
				{{ form.mail }}
				<input src={% static "homepage/fleche_outline.png" %} id="fleche" class="fleche" type=image Value=submit disabled='disabled'/>
			</form>
			{% if valide %}
				<p>{% trans "Merci beaucoup" %}</p>
			{% endif %}
		</p>
		<br />
		<p class="texteD">
			{% trans "Vous êtes d&eacute;veloppeur ? Rejoignez l'aventure : " %}<br />
			<a class="next" href="http://www.bitbucket.org/perrin_v/pick-a-joy" target="_blank">{% trans "Retrouvez le projet Pick-a-Joy sur Bitbucket" %}</a>
		</p>
		<br />
		<p class="texte">		
		{% ifequal request.LANGUAGE_CODE "fr" %}
			<a href="/en">You speak English ? It's just here. </a>
		{% else %}
			<a href="/fr">Vous parlez Français? Par ici </a>
		{% endifequal %}
		</p>
		
		<script>
			var input = document.getElementById('mailInput');
			
			
			
			function validateEmail(email) {
				var re = new RegExp("[a-z0-9!#$%&'*+/=?^_`{|}~-]+(?:\.[a-z0-9!#$%&'*+/=?^_`{|}~-]+)*@(?:[a-z0-9](?:[a-z0-9-]*[a-z0-9])?\.)+[a-z0-9](?:[a-z0-9-]*[a-z0-9])?");
				return re.test(email);
			}
			
			input.oninput = function (evt) {
				var pastille = document.getElementById('pastille');
				var fleche = document.getElementById('fleche');
				if (validateEmail(input.value)){
					pastille.src = '{% static "homepage/past_verte.png" %}';
					pastille.title = "Format courriel valide"
					pastille.alt = "Format courriel valide"
					fleche.src='{% static "homepage/fleche_rouge.png" %}';
					fleche.disabled = false;
				} else {
					pastille.src = '{% static "homepage/past_orange.png" %}';
					pastille.title = "Format de courriel non reconnu"
					pastille.alt = "Format de courriel non reconnu"
					fleche.src='{% static "homepage/fleche_grise.png" %}';
					fleche.disabled = true;
				}
			}
			
			input.onblur = function (evt) {
				var pastille = document.getElementById('pastille');
				var fleche = document.getElementById('fleche');
				if (!input.value){
					pastille.src = '{% static "homepage/past_blanche.png" %}';
					pastille.title = "Vérification du format de courriel"
					pastille.alt = "Vérification du format de courriel"
					fleche.src = '{% static "homepage/fleche_outline.png" %}';
				}
			}
		</script>
    </span>



</body>

<!-- <footer id="footer">
pick-a-joy est une marque déposée, 2015, Adrien Féraud et Vincent Perrin.
</footer> -->

</html>
